//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "primeng/resources/themes/luna-blue/theme.css";

*{
  box-sizing: border-box;
  font-family: Roboto, serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,
h2,
h3,
h4{
  margin: 0;
}

img {
  max-width: 100%;
}

.padding {
  &-default{
    padding: 2rem
  }
}

.modal-wrapper{
  padding: 1rem;

  .modal-header{
    padding-bottom: .5rem;
  }
}
